<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://test-adminapps.nv.gov</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>TEST-ADMINAPPS</MSDeployServiceURL>
    <DeployIisAppPath>TEST-ADMINAPPS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>STATE\rcook</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AdminApps.DAL.NebsContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AdminApps.DAL.NebsContext, AdminApps" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AdminApps_SQLServerExpress" Order="2" Enabled="True">
          <Destination Path="Data Source=TEST-ADMINAPPS\SQLEXPRESS;Initial Catalog=AdminAppsTest;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AdminApps.DAL.ApplicationDbContext, AdminApps" MigrationConfiguration="AdminApps.Migrations.Configuration, AdminApps" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NEBS_Connection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="USER ID=DOA_APP_READER;PASSWORD=ZyQqEqypRvoj;DATA SOURCE=&quot;(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=roe.state.nv.us)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=nebsprd.state.nv.us)))&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NEBS_Connection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=roe.state.nv.us)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=nebsprd.state.nv.us)));User Id=DOA_APP_READER;Password=ZyQqEqypRvoj;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdminApps.DAL.NebsContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdminApps_SQLServerExpress-Web.config Connection String">
      <ParameterValue>Data Source=TEST-ADMINAPPS\SQLEXPRESS;Initial Catalog=AdminAppsTest;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NEBS_Connection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AdminApps.DAL.NebsContext" />
  </ItemGroup>
</Project>