
<script type="text/javascript">

    var getArchivedScheduleVersionsUrl = '@Url.Action("GetScheduleHistory")';
    var archivedScheduleVersions = $('#tabArchivedScheduleVersions');

    $('.nav-tabs a').click(function () {
        $(this).tab('show');
        if (this.name = 'archivedScheduleVersions')
        {
            archivedScheduleVersions.html('<h4>Loading archived schedule versions...</h4>');
            archivedScheduleVersions.load(getArchivedScheduleVersionsUrl, { id: @Model.ID });
        }
    })

</script>