
<div class="modal fade" id="archivedScheduleVersionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header danger">
                <h4 class="modal-title" id="archivedScheduleVersionModalLabel">Archived Project Schedule</h4>
            </div>
            <div class="modal-body" id="containerArchivedScheduleVersionModal">
                @*modal for Archived Schedule Version, loaded by jquery ajax call*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="fireConfirmRestoreArchivedScheduleVersionModal()">Restore Archived Schedule to Current</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

