
<div class="modal fade" id="confirmNoRevisionNotesModal" tabindex="-1" role="dialog" aria-labelledby="noRevisionNotesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="noRevisionNotesLabel">NOTE: "Revision Notes" field is empty</h4>
            </div>
            <div class="modal-body">
                <p>Revision notes are optional, but they are useful for distinguishing different versions of this project's schedule. To add revision notes use the text box below, then click the 'Save Changes' button (green).</p>
                <div class="form-group">
                    <label class="control-label" for="ProjectScheduleVersion_Comments">Revision Notes</label>
                    <input class="form-control text-box single-line" id="confirmNoRevisionNotesModal_Comments" type="text" value="" />
                </div>
                <p>To save the schedule without revision notes click the 'Save Without Revision Notes' button (red).</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnSaveWithoutRevisionNotes">Save Without Revision Notes</button>
                <button type="button" class="btn btn-success" id="btnSaveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>
