<div class="row gantt-toolbar" id="ganttToolbar">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-sm" id="btnOutdent" onclick="outdentTask()"><< Outdent Task</button>
        <button type="button" class="btn btn-primary btn-sm" id="btnIndent" onclick="indentTask()">Indent Task >></button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-sm" id="btnAutoSchedulePlannedDates" onclick="$('#confirmAutoSchedulePlannedDatesModal').modal('show')">Auto-Schedule Planned Dates</button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary btn-sm" onclick="updateCriticalPath(this)">Show Critical Path</button>
        <text id="lblCriticalPathDuration"></text>
    </div>
</div>

