<div class="panel-heading">
    <div class="panel-title">Project Management</div>
</div>
<div class="panel-body" role="navigation">
    <ul class="nav nav-pills nav-stacked">

        <li role="presentation" @{if (ViewBag.Title == "My Projects") { <text> class="active" </text>      } }>@Html.ActionLink("My Projects", "Index", "UserProjects")</li>
        <li role="presentation" @{if (ViewBag.Title == "Help") { <text> class="active" </text>       } }>@Html.ActionLink("Help", "Help", "UserProjects")</li>

    </ul>
</div>
