@model AdminApps.ViewModels.UserProjectViewModel

@{
    ViewBag.Title = "PDF Test";
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

@*@section headLevel{
    @{ Html.RenderPartial("~/Views/DhtmlxGantt/_dhtmlxGanttHeadScriptIncludes.cshtml"); }
}*@

@*@section scripts{
    @{ Html.RenderPartial("~/Views/DhtmlxGantt/_initializeGantt.js.cshtml"); }
}*@



<h1>PDF Test</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a urna metus. In id magna eget sapien vehicula sollicitudin fermentum nec ante. Ut iaculis vehicula leo nec posuere. Duis ornare hendrerit sem, nec volutpat nisi placerat a. Nullam convallis vitae augue vitae fringilla. Nunc viverra commodo laoreet. Vivamus fermentum ligula eros, eget sagittis justo euismod eget. Donec dolor neque, scelerisque vel vulputate quis, tincidunt et odio. Duis eget est risus. Phasellus ut nulla accumsan, malesuada sapien non, ornare nibh.
</p>

@*gantt container*@
<div id="ganttContainer" style="width: 100%; height: 100%;"></div>

