<html>
<body style="font-family:Calibri, Arial, sans-serif; padding:20px">

    <div style="margin-left:auto; margin-right:auto; max-width:600px; padding:30px">
        <h2>AdminApps.nv.gov</h2>
        <h3>Bill Record Request Fulfilled</h3>
        <p>Hello {0},</p>
        <p>The Bill Record you requested for {1} has been created. The Bill is now available for review on the <a href="{2}">List All Bills</a> page, or you click the following link to <a href="{3}">create a Bill Review</a> directly.</p>
        <p>This message was generated automatically and cannot be replied to. If you received this message in error please <a href="mailto:rcook@admin.nv.gov?subject=AdminApps Email Notification Error">email Russell Cook</a> to report the problem.</p>
        <p>
            Thank you,<br />
            Department of Administration<br />
            Director's Office
        </p>
    </div>
</body>
</html>