<html>
<body style="font-family:Calibri, Arial, sans-serif; padding:20px">

    <div style="margin-left:auto; margin-right:auto; max-width:600px; padding:30px">
        <h2>AdminApps.nv.gov</h2>
        <h3>User Account Request Fulfilled</h3>
        <p>Hello {0},</p>
        <p>The User Account you requested for {1} has been created, and a confirmation email has been sent to the user.</p>
        <p>This message was generated automatically and cannot be replied to. If you believe you received this message in error please <a href="mailto:rcook@admin.nv.gov?subject=AdminApps Email Notification Error">email Russell Cook</a> to report the problem.</p>
        <p>
            Thank you,<br />
            Department of Administration<br />
            Director's Office
        </p>
    </div>
</body>
</html>