<html>
<body style="font-size:15px; font-family:Calibri, Arial, sans-serif; padding:20px">

    <div style="margin-left:auto; margin-right:auto; max-width:600px; padding:30px">
        <h2>AdminApps.nv.gov</h2>
        <p>Hello {0},</p>
        <p>A Review for <a href="{1}">{2}</a> has been requested on behalf of {3}. Please click the following link in order to <a href="{4}">create a Bill Review</a>.</p>
        <p><strong>PLEASE NOTE: </strong>A Bill Review Request is considered fulfilled when you have submitted a Bill Review to Division {5}. The Home page of the Bill Tracking module will continue to notify you of pending Bill Review Requests until all outstanding requests are fulfilled. For more information on Bill Review Requests please visit the Bill Tracking module's <a href="http://adminapps.nv.gov/Bills/Help">Help page</a>.</p>
        <p>This message was generated automatically and cannot be replied to. If you believe you received this message in error please <a href="mailto:rcook@admin.nv.gov?subject=AdminApps Email Notification Error">email Russell Cook</a> to report the problem.</p>
        <p>
            Thank you,<br />
            Department of Administration<br />
            Director's Office
        </p>
    </div>
</body>
</html>