<html>
<body style="font-size:15px; font-family:Calibri, Arial, sans-serif; padding:20px">

    <div style="margin-left:auto; margin-right:auto; max-width:600px; padding:30px">
        <h2>AdminApps.nv.gov</h2>
        <p>Hello {0},</p>
        <p>A Review for <a href="{1}">{2}</a> has been submitted by {3} on behalf of {4}. Please click the following link in order to <a href="{5}">view the Bill Review</a>.</p>
        <p><strong>PLEASE NOTE: </strong>{3} will be able to modify or replace this Bill Review until it has been marked as 'Read' at the Department level. To mark the review as 'Read' click the link above ("view the Bill Review"), then click the 'Mark As Read' button near the top of the page. For more information on Bill Reviews please visit the Bill Tracking module's <a href="http://adminapps.nv.gov/Bills/Help">Help page</a>.</p>
        <p>This message was generated automatically and cannot be replied to. If you believe you received this message in error please <a href="mailto:rcook@admin.nv.gov?subject=AdminApps Email Notification Error">email Russell Cook</a> to report the problem.</p>
        <p>
            Thank you,<br />
            Department of Administration<br />
            Director's Office
        </p>
    </div>
</body>
</html>