<html>
<body style="font-family:Calibri, Arial, sans-serif; padding:20px">

    <div style="margin-left:auto; margin-right:auto; max-width:600px; padding:30px">
        <h2>AdminApps.nv.gov</h2>
        <h3>Bill Review Request</h3>
        <p>Hello {0},</p>
        <p>A Review for <a href="{1}">{2}</a> has been requested on behalf of {3}. Please click the following link in order to <a href="{4}">create a Bill Review</a>.</p>
        <p><strong>PLEASE NOTE: </strong>The Home page of the Bill Tracking module will continue to notify you of pending Bill Review Requests until all outstanding requests are fulfilled. A Bill Review Request is considered fulfilled when an 'Approved Review' has been submitted to the Department level on behalf of your Division ({5}).</p>
        <p>Submitting an 'Approved Review' is a two-step process involving 1) the creation of at least one Bill Review by a user within your Division, and 2) the 'Approval' of that Bill Review in order to submit it to the Department level. Each Division can submit one--and only one--'Approved Review' per Bill. For more information on Bill Review Requests, including instructions on requesting Bill Reviews from personnel within your Division, please visit the Bill Tracking module's <a href="http://adminapps.nv.gov/Bills/Help">Help page</a>.</p>
        <p>Non-approved Bill Reviews created within your Division are not visible at the Department level, and you may submit any review created within your Division as the 'Approved Review', even if you did not create the review yourself. This workflow was designed to allow Division Administrators to solicit and review information from personnel within their Division before submitting an 'Approved Review' to the Department level.</p>
        <p>This message was generated automatically and cannot be replied to. If you believe you received this message in error please <a href="mailto:rcook@admin.nv.gov?subject=AdminApps Email Notification Error">email Russell Cook</a> to report the problem.</p>
        <p>
            Thank you,<br />
            Department of Administration<br />
            Director's Office
        </p>
    </div>
</body>
</html>