<html>
<body style="font-family:Calibri, Arial, sans-serif; padding:20px">

    <div style="margin-left:auto; margin-right:auto; max-width:600px; padding:30px">
        <h2>AdminApps.nv.gov</h2>
        <h3>Notification of Reprint for {0}</h3>
        <p>Hello {1},</p>
        <p>A reprint for {0} ({5}) was issued on {2}, and the Bill Review you created is now out of date. Please <a href="{3}">review the updated Bill text on the NELIS website</a> to determine whether or not this reprint impacts the analysis that you have provided.</p>
        <p>After you have reviewed the updated Bill text please visit the AdminApps Bill Tracking module to either <a href="{4}">confirm that your Bill Review is still valid, or revise your Bill Review in light of the changes</a>.</p>
        <p>This message was generated automatically and cannot be replied to. If you believe you received this message in error please <a href="mailto:rcook@admin.nv.gov?subject=AdminApps Email Notification Error">email Russell Cook</a> to report the problem.</p>
        <p>
            Thank you,<br />
            Department of Administration<br />
            Director's Office
        </p>
    </div>
</body>
</html>