@model AdminApps.ViewModels.BillReviewRequestSelectUsersViewModel

@{
    ViewBag.Title = "Request Bill Review";
    ViewBag.ModuleName = "Bill Tracking";
}

<h3>Request Bill Review</h3>
<h2>@Html.DisplayFor(model => model.BillName)</h2>
@using (Html.BeginForm())
{
    <table class="table table-striped table-condensed">
        <tr>
            <th>
                Select
            </th>
            <th>
                Name
            </th>
            <th>
                Division
            </th>
            <th></th>
        </tr>

        @Html.EditorFor(model => model.Users)

    </table>

    <input type="submit" value="Request Review from Selected User(s)" class="btn btn-success" />
}

<br />
<p>@Html.ActionLink("Back to Bill", "Details", "Bills", new { id = Model.BillID }, new { @class = "btn btn-default btn-sm" })</p>