
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dept. of Administration</h1>
    <h2>Intranet and Support Applications</h2>
    <h2>@ViewBag.ErrorMessage</h2>
    @*<p class="lead">ASP.NET Identity is the membership system for ASP.NET apps. Following are the features of ASP.NET Identity in this sample application.</p>
    <p><a href="http://www.asp.net/identity" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>


<div class="row">
    <div class="col-md-4">
        <dl>
            <dt>Support Applications</dt>
            <dd>
                <p>This site hosts applications that support the activities of the Department of Administration. Access to these applications requires a user account, which must be created by the Director's Office. To request a user account, or to request access to a specific application, please email <a href="mailto:rcook@admin.nv.gov?subject=Access to AdminApps">rcook@admin.nv.gov</a>.</p>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>User Access</dt>
            <dd>
                <p>If you have a user account please log in using the link in the menu above.</p>
                <p>To request a user account please email <a href="mailto:rcook@admin.nv.gov?subject=Access to AdminApps">rcook@admin.nv.gov</a>.</p>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">

    </div>
</div>