
@{
    ViewBag.Title = "SPWD Support Applications";
}
<div class="row">
    <div class="col-md-12">
        <h3>SPWD Intranet and Support Applications</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Now Available: 2017 Capital Improvement Program - Application for Using Agencies</div>
            </div>
            <div class="panel-body">
                <p>From February through April of 2016 the State Public Works Division will be accepting submissions for the 2017 Capital Improvement Program (CIP). </p>
                @Html.ActionLink("CIP Home Page >>", "Index", "Home", new { area = "CIP" }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>User Access</strong>
            </div>
            <div class="panel-body">
                <small>
                    <p>Public information hosted on this site can be accessed without a user account. However, Nevada state employess who wish to submit information to the State Public Works Division must be registered users.</p>
                    <p>If you have a user account please log in using the link in the menu above.</p>
                    <p>If you do not have an account you can create one on the @Html.ActionLink("User Registration page", "Register", "Account").</p>
                </small>
            </div>
        </div>
    </div>
</div>
