@model AdminApps.ViewModels.BillReviewViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.ModuleName = "Bill Tracking";
}

<h3>Edit your review for: <strong>@Html.DisplayFor(model => model.Bill.CompositeBillName)</strong></h3>
<h4>Review for Bill Version: @Html.DisplayFor(model => model.BillVersion.VersionDescription)</h4>

@Html.EditorFor(model => model)

<div>
    @Html.ActionLink("Back to Bill", "Details", "Bills", new { id = Model.BillID }, null)
</div>
