@model AdminApps.ViewModels.BillReviewViewModel

@{
    ViewBag.Title = "Mark as Read";
    ViewBag.ModuleName = "Bill Tracking";
}

<h3>Mark Review as Read?</h3>

@Html.DisplayFor(model => model)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Confirm Mark As Read" class="btn btn-success" /> |
        @Html.ActionLink("Back to Bill", "Details", "Bills", new { id = Model.BillID }, null)
    </div>
}
