<!--[if lte IE 7]>
<style type="text/css">div{display:none;}</style>
<h4 style='text-align:center; font-family:Arial; margin-top:50px;'>Unfortunately dhtmlxGantt 2.0 doesn't support IE6 and IE7 browsers.<br>Please open these demos in different browser or in IE8+.</h3>
<![endif]-->

<script>
	function modSampleHeight() {
		var headHeight = 100;
		var sch = document.getElementById("ganttContainer");
		sch.style.height = (parseInt(document.body.offsetHeight) - headHeight) + "px";
		//var contbox = document.getElementById("headerContainer");
		//contbox.style.width = (parseInt(document.body.offsetWidth) - 300) + "px";

		gantt.setSizes();
	}
</script>
