<!--[if lte IE 7]>
<style type="text/css">div{display:none;}</style>
<h4 style='text-align:center; font-family:Arial; margin-top:50px;'>Unfortunately dhtmlxGantt doesn't support IE6 and IE7 browsers.<br>Please open this page in different browser or in IE8+.</h3>
<![endif]-->

<style>
    .dhtmlx_message_area {
        margin-top: 100px;
    }
</style>
